li, a{
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 170px;
    height: 60px; 
}

.nav__links {
    list-style: none;
    margin-right: -30px;
}

.nav__links li {
    display: inline-block;
    padding: 20px 20px 20px;
}

.nav__links a {
    text-decoration: none;
    color : #596E79;
    transition: color 0.3s;
}

.nav__links li a:hover {
    color: #C7B198
}

.img-content {
    position: right;
    justify-content: center;
}

.img-content img {
    max-height: 500px;

}

.container{
    max-width: 1250px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.ok h4{
    margin-bottom: 10px;
    margin-left: 25px;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 18px;
	color: #C7B198;
}
.ok h1{
    width: 640px;
    margin-left: 20px;
    font-family: Rubik;
    color : #596E79;
    font-weight: 900;
    font-size: 42px;
    z-index: 1;
}

.ok p{
    margin-left: 20px;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 16px;
    color: #3e3e3e;
}
.ok .button{
    margin-left: 20px;
    background: #C7B198;
    padding: 15px 45px;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
}

.foto img{
    width: 600px;
    margin-left: -45px;
    border-radius: 40%;

}

.section2{
    margin-top: 80px;
    background-color: #596E79;
    padding-bottom: 60px;
}

.title h4{
    padding-top: 60px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 18px;
	color: #F0ECE3; 
}

.title h2{
    margin-top: 10px;
    text-align: center;
    font-family: Rubik;
    color: #DFD3C3; 
    font-weight: 800;
    font-size: 38px;
    z-index: 1;
}

.container-grd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.container-grd .box{
    position: relative;
    width: 310px;
    padding: 20px;
    background: #F0ECE3;
    border-radius: 10px;
    margin: 10px;
    margin-top: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.container-grd .box .bx{
    position: center;
    justify-content: center;
    height: 215px;
}

.container-grd .box h3{
    margin-top: 20px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 20px;
	color: #596E79; 
}

.container-grd .box p{
    margin-top: 10px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 14px;
	color: #3E3E3E; 
}

.section5{
    margin-top: 60px;
    padding-bottom: 40px;
}

.title-testi h4{
    margin-left: 115px;
    padding-top: 20px;
    text-align: left;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 18px;
	color: #C7B198; 
}

.title-testi h2{
    margin-left: 115px;
    margin-top: 10px;
    text-align: left;
    font-family: Rubik;
    font-weight: 800;
    color: #596E79;
    font-size: 38px;
    z-index: 1;
}

.container-grd3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.container-grd3 .box{
    position: relative;
    width: 500px;
    padding: 30px;
    background: #F0ECE3;
    border-radius: 5px;
    margin: 30px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 30px;
}

.container-grd3 .box .bx3{
    position: center;
    justify-content: center;
    height: 80px;
}

.container-grd3 .box p{
    margin-top: 30px;
    text-align: left;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 16px;
	color: #3E3E3E; 
}
.profile-info {
    text-align: left;
}

.profile-info h3 {
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: bold;
    color : #596E79;
}

.rating {
    text-align: left;
    margin-top: 20px;
}

.rating i {
    color: #f0cc2f;
    margin-right: 5px;
}

.section-footer{
    margin-top: 40px;
    background-color: #596E79;
    padding-bottom: 40px;
}

.container-grd4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.container-grd4 .box{
    position: relative;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 60px;
}

.container-grd4 .box2{
    position: relative;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 60px;
}

.container-grd4 .box3{
    position: relative;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 60px;
}

.container-grd4 .box .bx{
    position: center;
    justify-content: center;
    height: 40px;
}

.container-grd4 .box h3{
    text-align: left;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 22px;
	color: #FFFFFF;
    margin-top: auto; 
}

.container-grd4 .box2 h3{
    text-align: left;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 22px;
	color: #FFFFFF;
    margin-top: auto; 
}

.container-grd4 .box3 h3{
    text-align: left;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 22px;
	color: #FFFFFF;
    margin-top: auto; 
}

.container-grd4 .box p{
    text-align: left;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 16px;
	color: #ffffff9a;
    margin-top: 10px; 
}

.footer-list{
    list-style: none;
    margin: 0;
    position: relative;
    font-size: 16px;
    color: #FFFFFF;
}

.form_email{
	box-sizing : border-box;
	width: 70%;
	padding: 10px;
	font-size: 12pt;
	margin-bottom: 20px;
	font-family: Nunito Sans;
}

.button{
    background: #C7B198;
    padding: 11px 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
}

.copyright {
    text-align: center;
    background-color: #596E79;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
}